*,html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #213448;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    width: 500px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 325px;
    min-height: 100vh;
}

.content {
    color: #eaeaea;
    margin: 8px;
}

.row {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

button {
    border: none;
    background-color: #547792;
    font-size: 24px;
    padding: 16px;
    margin-left: 10px;
    height: 65px;
    color: #eaeaea;
    font-weight: 600;
    margin-top: 10px;
}

button:hover {
    cursor: pointer;
    background-color: #333;
    transition: .3s all ease-in-out;
}

input {
    border: none;
    background-color: #eaeaea;
    color: #222;
    padding: 16px;
    font-size: 24px;
    margin-top: 10px;
}

#pertanyaan {
    font-size: 1.6em;
    font-weight: 500;
}

#loaders {
    display: none;
    width: 85px;
    height: 85px;
    position: absolute;
    border-top: 15px solid #547792;
    border-radius: 50%;
    top:50%;
    left: 50%;
    z-index: 9;
    animation: 1s spin infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}